* {
    border-radius: 1.5%;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    color: white;
    background-color: darkblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#weather-container {
    border-color: black;
    padding: 5%;
    margin: 5%;
}

#search-bar {
padding: 2%;
margin: 3%;
}